@import url("npm.css");

/*
:root {
    --os-bubble-color: #e9ecf0;
    --os-bubble-radius-large: 0.5em;
    --os-bubble-radius-small: 0.1em;
    --os-bubble-padding: 0.6em 0.85em;
    --os-text-color:  #4b545e;
    --os-font: 14px/1.3 'Karla';
    --os-identifier-color: #576679;
    --os-identifier-width: 70px;
    --os-identifier-width-image: 30px;
    --os-identifier-radius: 10px;
    --os-animation-duration: 0.2s;
    --os-background: #f9f9f9;
    --os-background-secondary: #e9ecf0;
    --os-background-secondary__hover: #dce2e9;
    --os-border-color: #c5ccd2;
    --os-border: solid 1px var(--os-border-color);
    --os-toolbar-color: #4b545e;

    --os-shadow-1: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    --os-shadow-2: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
*/
:root {
    --os-bubble-color: #fbfbfe;
    --os-bubble-background-color: var(--os-background);
    --os-bubble-radius-large: 0.5em;
    --os-bubble-radius-small: 0.1em;
    --os-bubble-padding: 0.6em 0.85em;
    --os-text-color: #4b545e;
    --os-font: 14px/1.3 "Karla";
    --os-identifier-color: #5e6978;
    --os-identifier-width: 70px;
    --os-identifier-width-image: 30px;
    --os-identifier-radius: 10px;
    --os-animation-duration: 0.2s;
    --os-background: #eef0f3;
    --os-text-background: var(--os-background);
    --os-background-secondary: #dbdfe7;
    --os-background-secondary__hover: #ced3dd;
    --os-border-color: #c5ccd2;
    --os-border: solid 1px var(--os-border-color);
    --os-toolbar-color: #4b545e;

    --os-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --os-shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

    --os-shadow-f-1: drop-shadow(0 1px 1.5px rgba(0, 0, 0, 0.05))
        drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
}

body.night {
    --os-bubble-color: #373a40;
    --os-bubble-background-color: var(--os-background);
    --os-text-color: #f1f3f6;
    --os-identifier-color: #97a3b3;
    --os-background: #292a2d;
    --os-text-background: var(--os-background);
    --os-background-secondary: #373a40;
    --os-background-secondary__hover: #4c4f57;
    --os-border-color: #4d525b;
    --os-border: solid 1px var(--os-border-color);
    --os-toolbar-color: #f1f3f6;
}

.oissu__embed {
    margin: 10px auto 10px;
    box-sizing: border-box;
    background: var(--os-background);
    border-radius: 6px;
    border: var(--os-border);
    overflow: hidden;
    position: relative;
    color: var(--os-text-color);
    transition: all var(--os-animation-duration) ease;
    box-shadow: var(--os-shadow-1);
    min-height: 370px;
    user-select: none;
}

.oissu__embed * {
    transition: all var(--os-animation-duration) ease;

    /* cursor: auto; */
}

.oissu {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    font: var(--os-font);
    letter-spacing: 0;
    min-height: 250px;
}

.oissu p {
    margin: 0;
}

.os-unit {
    display: grid;
    grid-template: auto / var(--os-identifier-width) 1fr;
    column-gap: 10px;
    row-gap: 2.5px;
}

.os-content {
    grid-column: 2/3;
}

.os-content.os-lines {
    display: flex;
    flex-direction: column;
}

.os-content.os-lines p {
    margin: 0px 0px 0.3em 0px;
    border-radius: var(--os-bubble-radius-small) var(--os-bubble-radius-large)
        var(--os-bubble-radius-large) var(--os-bubble-radius-small);
    align-self: flex-start;
    position: relative;
    background: var(--os-text-background);
}

.os-content.os-lines p:last-child {
    margin: 0px;
    border-radius: var(--os-bubble-radius-small) var(--os-bubble-radius-large)
        var(--os-bubble-radius-large) var(--os-bubble-radius-large);
}

.os-content.os-lines p:first-child {
    border-top-left-radius: 0;
}

.os-content.os-rich {
    border-radius: 5px;
    overflow: hidden;
    flex: 0 0 auto;
    grid-column: 1/3;
}

.os-content.os-rich img {
    width: 100%;
    height: auto;
    filter: var(--os-shadow-f-1);
}

span.os-identifier {
    color: var(--os-identifier-color);
    font-weight: 700;
    text-align: right;
}

img.os-identifier {
    grid-row: 1/3;
    display: none;
    border-radius: var(--os-identifier-radius);
    background: var(--q-character-color);
    width: var(--os-identifier-width-image);
    margin-left: auto;
}

.os-content.os-lines p:hover {
    transform: translate(1.5px, 0px);
}

.os-content.os-lines .os-note-inline {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    line-height: 0;
    font: 800 0.5em "Karla", sans-serif;
    background: var(--os-background-secondary);
    border-radius: 0.25em;
    border: var(--os-border);
    padding: 0.1em 0.5em;
    color: inherit;
}

.os-content.os-rich.os-block .os-location {
    display: grid;
    grid-template: 1fr 1fr/1fr auto 1fr;
    column-gap: 0.5em;
    color: var(--os-text-color);
    margin-bottom: 0.5em;
}

.os-content.os-rich.os-block .os-location .os-hr {
    border-bottom: var(--os-border);
}

.os-content.os-rich.os-block .os-location .os-hr.left {
    grid-column: 1/2;
}

.os-content.os-rich.os-block .os-location .os-hr.right {
    grid-column: 3/4;
}

.os-content.os-rich.os-block .os-season,
.os-content.os-rich.os-block .os-time {
    background: var(--os-background-secondary);
    margin-bottom: 0.3em;
    padding: 0.5em;
    border-radius: 5px;
}

.os-content.os-rich.os-block .feather {
    font-size: 0.9em;
    vertical-align: -0.1em;
    margin-right: 0.5em;
    stroke: currentColor;
}

.os-content.os-rich.os-block .os-location p {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0;
}

.os-content.os-rich.os-block .os-location .feather {
    margin-right: 0.25em;
}

.os-content.os-rich.os-block .os-narration {
    display: grid;
    grid-template: auto / calc(var(--os-identifier-width)) 1fr;
    column-gap: 10px;
    row-gap: 5px;
    margin: 0 0 0.5em;
}

.os-content.os-rich.os-block .os-narration:last-of-type {
    margin: 0;
}

.os-content.os-rich.os-block .os-narration:before {
    content: "";
    width: 2.25em;
    max-width: var(--os-identifier-width-image);
    height: 0.5em;
    grid-column: 1/2;
    border-bottom: var(--os-border);
    justify-self: end;
}

.os-content.os-rich.os-block .os-narration p {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0;
}

.oissu__background.fullscreen {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999999999;
    overflow: scroll;
    scrollbar-color: rgba(255, 255, 255, 0.1) #f000;
}

.oissu__wrapper.fullscreen .oissu__embed {
    margin: 0px;
}

.oissu__wrapper.fullscreen {
    margin: auto;
    max-width: 600px;
    box-sizing: border-box;
}

.oissu__background.fullscreen::-webkit-scrollbar-track {
    display: none;
}

.oissu__background.fullscreen::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1) #f000;
    border-radius: 50%;
}

.oissu.fullscreen {
    margin: 0 auto;
}

.oissu-expanded {
    overflow: hidden;
}

.oissu.oissu-loading {
    opacity: 1;
    height: 250px;
    -webkit-mask-image: linear-gradient(black 50%, #0002 80%, transparent 100%);
    mask-image: linear-gradient(black 50%, #0002 80%, transparent 100%);
    -webkit-mask-size: 100% 200%;
    mask-size: 100% 200%;
    -webkit-mask-position: 0% 100%;
    mask-position: 0% 100%;
    -webkit-mask-position-y: 100%;
}

.oissu__embed-loading .oissu.oissu-loading {
    opacity: 0;
}

.oissu__embed-loading .oissu__embed {
    height: 370px;
}

.os-toolbar {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 5px;
    user-select: none;

    height: 37px;
    box-sizing: border-box;

    background: var(--os-background-secondary);
    color: var(--os-toolbar-color);
}

.os-toolbar.top {
    border-bottom: var(--os-border);
}

.os-toolbar.bottom {
    border-top: var(--os-border);
}

.os-toolbar .feather {
    font-size: 0.9em;
    vertical-align: -2px;
}

.os-toolbar .os-toolbar__section {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.os-toolbar .os-toolbar__section a {
    border-radius: 5px;
    color: currentColor;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 16px "Karla", sans-serif;
    letter-spacing: 0px;
    padding: 5px;
    height: 25px;
    box-sizing: border-box;

    text-decoration: none;
    border: var(--os-border);
    background: var(--os-background-secondary);
}

.os-toolbar .os-toolbar__section a:hover {
    background: var(--os-background-secondary__hover);
}

.os-toolbar .os-toolbar__section.tools {
    grid-column: 3/4;
}

.os-toolbar .os-toolbar__section.tools a {
    width: 25px;
}

.os-toolbar .os-toolbar__section.nav {
    grid-column: 4/5;
}

.os-toolbar .os-toolbar__section.nav {
    gap: 0px;
}

.os-toolbar .os-toolbar__section.nav a {
    padding: 5px 7.5px;
    border-radius: 0px;
    border-width: 1px;
}

.os-toolbar .os-toolbar__section.nav a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.os-toolbar .os-toolbar__section.nav a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.os-toolbar .os-toolbar__section.nav a:not(:last-child) {
    border-right: 0;
}

.oissu__embed .os-credits {
    background: var(--os-border-color);
    border-top: var(--os-border);
    grid-row: 2/3;
    grid-column: 1/5;
    color: var(--os-text-color);
    font: var(--os-font);
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 0.7em;
    padding: 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 25px;
    box-sizing: border-box;
}

.oissu__embed .os-credits a {
    color: inherit;
}

svg.oissu-logo {
    height: 16px;
    width: auto;
}

svg.oissu-logo .oissu-logo__bubble {
    fill: currentColor;
}

svg.oissu-logo .oissu-logo__letter {
    fill: none;
}

.oissu-notice {
    background: var(--os-background);
    border: var(--os-border);
    color: var(--os-text-color);

    /* margin: 10px 10px; */
    padding: 15px 15px;
    border-radius: 5px;
    font: 1em "Karla", sans-serif;
    letter-spacing: 0px;

    box-sizing: border-box;
    filter: var(--os-shadow-f-1);
}

.oissu-notice.os-notice__cw {
    background: #cb0f0f;
    border: solid 1px #9f0606;
    color: white;
}

.oissu__embed .oissu-notice h2 {
    font-weight: 700;
    margin: 0 0 2px;
    color: inherit;
    font-size: 1.1em;
}

.oissu__embed .oissu-notice h2 .feather {
    font-size: 0.9em;
    vertical-align: -0.1em;
    stroke: currentColor;
    margin-left: 0.2em;
}

.oissu__embed .oissu-notice p {
    font-size: 0.9em;
}

.oissu-notice .oissu-notice__confirm {
    text-align: right;
}

.oissu-notice .oissu-notice__confirm button {
    color: white;
    background: none;
    border: solid 1px hsla(0, 0%, 100%, 0.3);
    font: inherit;
    font-size: 0.8em;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: var(--os-shadow-1);
}

.oissu-notice .oissu-notice__confirm button:hover {
    background: hsla(0, 0%, 100%, 1);
    color: #cb0f0f;
}

.oissu-prompt {
    position: absolute;
    width: 100%;
    height: 370px;
    top: 0;
    left: 0;
    z-index: 11;

    /* background: var(--os-background); */

    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;

    padding: 10px;
    box-sizing: border-box;

    opacity: 0;
    transform: scale(0.9);

    transition: all 0.2s ease;
}

.oissu-prompt__greyout {
    position: absolute;
    width: 100%;
    height: 370px;
    top: 0;
    left: 0;
    z-index: 10;

    background: var(--os-background);

    opacity: 0;

    transition: all 0.2s ease;
}

.oissu-notice-prompt-visible .oissu-prompt {
    opacity: 1;
    transform: scale(1);
}

.oissu-notice-prompt-visible .oissu-prompt__greyout {
    opacity: 1;
}

.oissu-prompt .oissu-notice {
    max-width: 300px;
}

.os-note li {
    list-style-type: decimal;
}

/*----------------------------------------------------------------------------*/

q.dialogue-start,
q.dialogue-end {
    display: none;
}

q[data-icon-pack],
q[data-icon-override],
q[data-prev-title],
q[data-prev-link],
q[data-next-title],
q[data-next-link],
q[data-directory-title],
q[data-directory-link],
q[data-directory-link],
q[data-icon-pack],
q[data-icon-override],
q[data-content-warning-type],
q[data-content-warning] {
    display: none;
}

q[data-note]:before,
q[data-note]:after {
    display: none;
}

/*----------------------------------------------------------------------------*/
body.oissu-bubble .oissu__embed {
    background: var(--os-bubble-background-color);
}

body.oissu-bubble .os-content.os-lines p {
    background: var(--os-bubble-color);
    padding: var(--os-bubble-padding);
    filter: var(--os-shadow-f-1);
}

body.oissu-bubble .os-content.os-lines p:first-child::before {
    content: "";
    display: block;
    background: var(--os-bubble-color);
    width: 6px;
    height: 12px;
    position: absolute;
    top: 0px;
    left: -6px;
    mask: url("http://localhost:8080/src/svg/arrow.svg") no-repeat 100% 100%;
}

body.oissu-bubble span.os-identifier {
    padding: 10px 0px;
}

body.oissu-image {
    --os-identifier-width: var(--os-identifier-width-image);
}

body.oissu-image span.os-identifier {
    text-align: left;
    font-size: 0.8em;
    padding: 0px;
    line-height: 1;
}

body.oissu-image img.os-identifier {
    display: block;
    filter: var(--os-shadow-f-1);
}

body.oissu-bubble .oissu__embed {
}
